Host raspberrypi.local
 User pi
 ForwardAgent yes

Host *
 ControlMaster auto
 ControlPath ~/.ssh/multiplex/%r@%h:%p
 ControlPersist yes

 ServerAliveInterval 50

 IgnoreUnknown UseKeychain
 UseKeychain yes
